body {
    font-family: Arial, sans-serif;
    margin: 50px auto;
    padding: 0;
    background-color: #000000;
    text-align: center;
}

header {
    color: #fff;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background: #2b2b2b;
    color: white;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    width: 100%;
}

@media (max-width: 768px) {
    li {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    li {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
button {
    background-color: #ff4b4b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #ff0000;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
}

input, button {
    display: block;
    width: calc(100% - 20px);
    margin: 5px auto;
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #00ac25;
}

button[type="submit"]:hover {
    background-color: #197c00;
}
